<h3 class="text-center mt-5">We're Here to Help!</h3>
<p class=" container col-8 mt-4">At Heat & Eat, your satisfaction is our top priority. Whether you have a question, need assistance with an order, or simply want to share your feedback, we're always here to listen. Please feel free to reach out to us using the form below, and our dedicated support team will get back to you as soon as possible. Thank you for choosing us for your shopping needs!</p>
<div class="container col-8 mt-5">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Write to us</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
